<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>agriventure</title>
  </head>
  <body>
    <p>Warensystem für Landwirte</p>
    <div>
        <div>
        <form method="POST">
            <input type="submit" id="list_transactions" name="list_transactions" value="Liste Lieferungen"><br><br>
        </form>
        </div>

        <div>
        <form method="POST">
            <input type="submit" id="new_transactions" name="new_transactions" value="Neue Lieferung"><br><br>
        </form>
        </div>
    </div>
  </body>
</html>