<!DOCTYPE html>
<html>

<SCRIPT language="javascript">
		function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);


			var cell3 = row.insertCell(0);
			var element2 = document.createElement("select");
			element2.name = "item_type[]";
			element2.innerHTML =
                "<select id=\"delivered_by\" name=\"delivered_by\">\n" +
                "                    {% for item in item_preset %}\n" +
                "                        <option value='{{ item }}'>{{ item }}</option>\n" +
                "                    {% endfor %}\n" +
                "                </select>";

            cell3.appendChild(element2);

			var cell4 = row.insertCell(1);
			var element3 = document.createElement("input");
			element3.type = "text";
			element3.name = "vehicle_id[]";
			cell4.appendChild(element3);

			var cell3 = row.insertCell(2);
			var element2 = document.createElement("select");
			element2.name = "item_type[]";
			element2.innerHTML =
                "<select  name=\"warehouse\">\n" +
                "                    {% for item in warehouse_preset %}\n" +
                "                        <option value='{{ item }}'>{{ item }}</option>\n" +
                "                    {% endfor %}\n" +
                "                </select>";

            cell3.appendChild(element2);

			var cell3 = row.insertCell(3);
			var element2 = document.createElement("input");
			var labname = 'lab' + rowCount;
			element2.id = 'btn' + labname;
			element2.type = "button";
			element2.value = '-';
			element2.setAttribute('onclick','showHideTable("'+labname+'")');

			cell3.appendChild(element2);

            var cell3 = row.insertCell(4);
			var element2 = document.createElement("input");
			var scalename = 'scale' + rowCount;
			element2.id = 'btn' + scalename;
			element2.type = "button";
			element2.value = '-';
			element2.setAttribute('onclick','showHideTable("'+scalename+'")');

            cell3.appendChild(element2);

            var cell3 = table.insertRow();
			var element2 = document.createElement("table");
			element2.border = "1";
            element2.id = labname;
            element2.style = "{display: none}";
			element2.innerHTML =
                "                        {% for item in laboratory_attributes %}\n" +
                "                        <th>{{ item }}</th>\n" +
                "                        {% endfor %}\n" +
                "                        <tr>\n" +
                "                        {% for item in laboratory_attributes %}\n" +
                "                        <td><label><input type=\"text\" class=\"form-control\" id=\"{{ item }}[]\" name=\"{{ item }}[]\"></label></td>\n" +
                "                        {% endfor %}\n" +
                "                        </tr>\n";
            cell3.appendChild(element2);

            var cell3 = table.insertRow();
			var element2 = document.createElement("table");
			element2.border = "1";
            element2.id = scalename;
            element2.style = "{display: none}";
			element2.innerHTML =
                "                <th>Nr. Waage</th>\n" +
                "                <th>Brutto Gewicht</th>\n" +
                "                <th>KFZ</th>\n" +
                "                <th>Leergewicht</th>\n" +
                "                <tr>\n" +
                "                    <td><label><input type=\"text\" class=\"form-control\" id=\"scale_id[]\" name=\"scale_id[]\"></label></td>\n" +
                "                \n" +
                "                    <td><label><input type=\"text\" class=\"form-control\" id=\"weight_brutto[]\" name=\"weight_brutto[]\"></label></td>\n" +
                "                \n" +
                "                    <td><label><input type=\"text\" class=\"form-control\" id=\"vehicle[]\" name=\"vehicle[]\"></label></td>\n" +
                "                \n" +
                "                    <td><label><input type=\"text\" class=\"form-control\" id=\"weight_empty[]\" name=\"weight_empty[]\"></label></td>\n" +
                "                </tr>\n";
            cell3.appendChild(element2);



		}

		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;
				table.deleteRow(rowCount - 1)
                table.deleteRow(rowCount - 2)
                table.deleteRow(rowCount - 3)

			}catch(e) {
				alert(e);
			}
		}

		function showHideTable(tableID) {
                   if (document.getElementById(tableID).style.display == 'none') {
                document.getElementById(tableID).style.display = '';
                document.getElementById('btn'+tableID).value = '-';
            } else {
                document.getElementById(tableID).style.display = 'none';
                document.getElementById('btn'+tableID).value = '+';
            }
        }

        function rowID() {
            return document.getElementById(dataTable).rows.length
        }

	</SCRIPT>

  <head>
    <meta charset="utf-8">
    <title>agriventure</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /
  </head>
  <body>
    <p>Neue Lieferung</p>

        <form method="POST">
            <select id="transaction_type" name="transaction_type">
            <option value=”plus”>Zugang</option>
            <option value=”minus”>Abgang</option>
            <option value=”flux”>Umlagerung</option>
            </select>
        <table>
            <tr>
                <td>Datum/Zeit</td>
                <td><label><input type="datetime-local" class="form-control" id="date_time" name="date_time"></label></td>
            </tr>

            <tr>
                <td>Für</td>
                <td>
                    <select id="delivered_by" name="delivered_by">
                    {% for item in delivered_by_preset %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>

            <tr>
                <td>Bearbeitet Von</td>
                <td>
                    <select id="done_by" name="done_by">
                    {% for item in done_by_preset %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>


            <TABLE id="dataTable" width="350px" border="1">
                <th>Artikel</th>
                <th>KFZ</th>
                <th>Lager</th>
                <th>Labor</th>
                <th>Waage</th>
            </TABLE>

            <tr>
                <td><input type="button" value="Neue Komponente" onclick="addRow('dataTable')" /></td>
                <td><input type="button" value="Lösche Komponente" onclick="deleteRow('dataTable')" /></td>
            </tr>


        </table>
            <input type="submit" id="new_transactions" name="new_transactions" value="Anlegen"><br><br>
        </form>


  </body>
</html>