<!DOCTYPE html>
<html>

<SCRIPT language="javascript">
		function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);


			var cell3 = row.insertCell(0);
			var element2 = document.createElement("select");
			element2.name = "item_type[]";
			element2.innerHTML =
                "<select id=\"delivered_by\" name=\"delivered_by\">\n" +
                "                    {% for item in item_preset %}\n" +
                "                        <option value='{{ item }}'>{{ item }}</option>\n" +
                "                    {% endfor %}\n" +
                "                </select>"

            cell3.appendChild(element2);

			var cell4 = row.insertCell(1);
			var element3 = document.createElement("input");
			element3.type = "text";
			element3.name = "qtty[]";
			cell4.appendChild(element3);


		}

		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;
				table.deleteRow(rowCount - 1)

			}catch(e) {
				alert(e);
			}
		}

	</SCRIPT>

  <head>
    <meta charset="utf-8">
    <title>agriventure</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /
  </head>
  <body>
    <p>Neue Lieferung</p>

        <form method="POST">
            <select id="transaction_type" name="transaction_type">
            <option value=”plus”>Zugang</option>
            <option value=”minus”>Abgang</option>
            <option value=”flux”>Umlagerung</option>
            </select>
        <table>
            <tr>
                <td>Datum/Zeit</td>
                <td><label><input type="datetime-local" class="form-control" id="date_time" name="date_time"></label></td>
            </tr>

            <tr>
                <td>Für</td>
                <td>
                    <select id="delivered_by" name="delivered_by">
                    {% for item in delivered_by_preset %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>

            <tr>
                <td>Bearbeitet Von</td>
                <td>
                    <select id="done_by" name="done_by">
                    {% for item in done_by_preset %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>


            <tr>
                <td>KFZ</td>
                <td><label><input type="text" class="form-control" id="vehicle" name="vehicle"></label></td>
            </tr>

            <TABLE id="dataTable" width="350px" border="1">
                <th>Artikel</th>
                <th>Menge</th>
                <TR>
                    <TD>
                        <select  name="item_type[]">
                        {% for item in item_preset %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                        </select>

                    </TD>
                    <TD> <INPUT type="text" name="qtty[]" /> </TD>
                </TR>
            </TABLE>
            <tr>
                <td><input type="button" value="Neue Komponente" onclick="addRow('dataTable')" /></td>
                <td><input type="button" value="Lösche Komponente" onclick="deleteRow('dataTable')" /></td>
            </tr>


        </table>
            <input type="submit" id="new_transactions" name="new_transactions" value="Anlegen"><br><br>
        </form>


  </body>
</html>